## Task Details:
Report on previously discussed python file (database connection) along with ReadME
### Name: Aditya Bommireddipalli
### ID: 100892785

In [1]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\adity\anaconda3\lib\site-packages (1.1.0)

In [2]:
# import required libraries
import pandas as pd
from sqlalchemy import create_engine
import pymysql

In [3]:
# create engine
engine = create_engine('mysql+pymysql://username:pwd@localhost/Data1202')

In [4]:
# Connecting to the engine
conn = engine.connect()

In [5]:
# read a simple query into DataFrame
df = pd.read_sql("SELECT * FROM data1202.vgsales", conn)
print(df.head())

   Rank                      Name Platform  Year         Genre Publisher  \
0     1                Wii Sports      Wii  2006        Sports  Nintendo
1     2         Super Mario Bros.      NES  1985      Platform  Nintendo
2     3            Mario Kart Wii      Wii  2008        Racing  Nintendo
3     4         Wii Sports Resort      Wii  2009        Sports  Nintendo
4     5  Pokemon Red/Pokemon Blue       GB  1996  Role-Playing  Nintendo

   NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0     41.49     29.02      3.77         8.46         82.74
1     29.08      3.58      6.81         0.77         40.24
2     15.85     12.88      3.79         3.31         35.82
3     15.75     11.01      3.28         2.96         33.00
4     11.27      8.89     10.22         1.00         31.37

In [6]:
# read a complex query into DataFrame
complex_df = pd.read_sql('''SELECT
    Round(SUM(NA_Sales)) as 'NA_Sales',
    ROUND(SUM(EU_Sales)) as 'EU_Sales',
    ROUND(SUM(JP_Sales)) as 'JP_Sales',
    ROUND(SUM(Global_Sales)) AS 'Global_Sales',
    ROUND((SUM(NA_Sales)/SUM(Global_Sales)) * 100) as 'NA_GlobalShare'

FROM
    data1202.vgsales
WHERE
    Genre = 'Platform'
        AND Year>= 2005''', conn)

print(complex_df)

   NA_Sales  EU_Sales  JP_Sales  Global_Sales  NA_GlobalShare
0     151.0      88.0      36.0         306.0            49.0